body {
  background-color: #fbfbff;
}

button {
  margin: auto;
  width: 80%;
  background-color: #9191e9;
  padding: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
