td.row {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

tr:hover {background-color: #E49273;}

tr button.appointSubmit {
  margin-left: 10px;
  background-color: #9191E9;
  border-color: black;
  display: none;
}

tr:hover button.appointSubmit {
  display: initial;
}